.git
.gitattributes
.gitignore
.github

vendor
node_modules

.env
.env.*
!.env.example

storage/*.key
storage/debugbar
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/pail
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

bootstrap/cache/*.php

public/build
public/hot
public/storage

.phpunit.cache
.phpunit.result.cache
tests
docs

.idea
.vscode
.fleet
.zed
*.sublime-project
*.sublime-workspace

Dockerfile
docker-compose*.yml
.dockerignore
README.md
